.boardarea{
    position: relative; /* Contain any absolute positioning inside the parent */
    width: 100%; /* Adjust to the desired width */
    height: 100vh; /* Full viewport height or adjust accordingly */
    background-color: #e1e4ec; /* Optional background for visibility */
    overflow: auto; /* Ensure that components do not overflow, and allow scrolling */
    border: 5px solid white;
  }
  